%div{class: 'jumbotron'}
  %h1 Hallo Clashers

  %p Wir brauchen deinen Namen. Bitte nutze deinen 1. Account

= form_for @user, url: { action: "set_user"},
  html: { class: 'form-horizontal', role: 'form' } do |f|
  .form-group
    = f.label :id, { class: 'control-label' } do
      Name im Spiel:
    = f.select(:id, { class: "form-control" }) do
      - array = User.order(:name).all.map { |user| [user.name, user.id] }
      = options_for_select(array, params[:user])
  - if params[:password_required]
    .form-group
      = f.label :password, { class: 'control-label' } do
        Password:
      = f.password_field :password
  %p.help-block Damit wir wissen, wer aus dem Clan du bist
  = f.submit "Submit", class: "btn btn-default"

