- @war.warriors.each do |w|
  - w.plans.each do |p|
    - next unless p.state == 'done'
    %h4
      Angriff von
      = w.user_name
      auf
      = p.base
      ergab:
      = p.stars
    %ul
      - w.estimates.each do |e|
        - next if e.base != p.base
        %li
          = e.user_name
          schätzte
          = e.stars
