%h1
  Plan für Krieg
  = @war.title
  - if @war.started
    = "(angefangen, #{@war.current_score}*)"

- content_for :ready_function, "hide_done = #{params[:nohide] ? 'false' : 'true'};"

%table.table{id: 'plan', data: {'post-url': update_attack_war_path(@war),
           'get-url': ajax_plan_war_path(@war) }, class: 'table table-bordered table-hover hide'}
  %thead
    %td Name
    - @war.count.times do |i|
      %td{id: "base_#{i+1}", class: "text-center text-muted base_#{i+1}"}= i +1
  %tbody
    - @warriors.each do |w|
      %tr{class: "index_#{w.index}"}
        - done = w.done_attacks
        - done = done > 0 ? " (#{w.done_attacks})" : ''
        %td{class: 'bg-success text-nowrap text-muted', id: "index_#{w.index}", data: { name: w.user_name, wid: w.id }}= "#{w.index}. #{w.user_name} #{done}"
        - w.averages.each_with_index do |e,base|
          - marked = 'attack'
          - id = "#{w.index}_#{base+1}"
          %td{class: "text-center attack base_#{base + 1}", id: "T_#{id}", data: { index: w.index, base: base + 1}}
            .avg= e.to_s.gsub('.0','')
          - tt = "<div class='text-nowrap'><big>#{w.user_name} attack on #{base + 1}</big></div>"
          - tt += "<ul class='estimate-list'>"
          - estimates = 0
          - w.each_estimate(base+1) do |b|
            - tt << "<li class='text-nowrap'>#{b.stars} #{User.name_for(b.user_id)}</li>"
            - estimates += 1
          - tt << "</ul>"
          - if estimates > 0
            - content_for :ready_function do
              $("#T_#{id} div.avg").tooltip({'title': "#{tt.html_safe}", html: true });

- unless @war.started
  - content_for :ready_function do
    setupPlan();
  - if @user.password
    = form_for @war, url: {action: "freeze"} do |f|
      = f.submit "Freeze Plan", data: { confirm: "Geht's los?" }
- else
  - content_for :ready_function do
    setupStartedWar();

- content_for :ready_function do
  $('#plan').removeClass('hide');

%div{class: "modal fade", id: "finishedModal", role: "dialog", 'aria-labelledby': "exampleModalLabel"}
  %div{class: "modal-dialog", role: "document"}
    .modal-content
      .modal-header
        %button{type: "button", class: "close", 'data-dismiss': "modal", 'aria-label': "Close"}
          %span{'aria-hidden': "true"}
            &times;
        %h4{class: "modal-title"}
          Gib das Ergebnis des Angriffs von
          %span{id: 'warrior-name'}
          auf die
          %span{id: 'enemy-name'}
          ein.

      = form_tag({ action: "result" }, { id: 'result_form' }) do
        .modal-body
          %input{type: "hidden", class: "form-control", disabled: 1, id: "warrior-id"}
          %input{type: "hidden", class: "form-control", disabled: 1, id: "enemy-index"}
          .form-group
            <label for="percent" name="percent" class="control-label">Prozent:</label>
            %input{type: "text", class: "form-control", id: "percent"}

          .form-group
            %div.btn-group{'data-toggle': "buttons"}
              %label{class: "btn btn-success"}
                %input{type: "checkbox", autocomplete: "off", id: 'townhall'} Rathaus erledigt?

        .modal-footer
          <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
          = submit_tag 'Speichern', class: "btn btn-primary", id: 'submit_result'
