<!DOCTYPE html>
<html>
<head>
  <title>COC Wars Planning</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
  var hide_done = true;
  $(document).on('ready', function() {
  <%= yield :ready_function %>
  });
  <% end if content_for(:ready_function) %>
</head>
<body>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-12">
	<%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
